name: format

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  check-formatting:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run pasfmt
        uses: integrated-application-development/pasfmt-action@v1
        with:
          release-name: v0.4.0-rc2